:root {
    --navyblue: #2e2f42;
    --slate: #434455;
    --iris: #4d5ae5;
    --ocean: #404bbf;
}

p, h1, h2, h3, h4, h5, h6{
   margin-top: 0;
   margin-bottom: 0; 
}

ul, ol{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

body{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #434455;
    background-color: #ffffff;
}

.container{
    /* width: 100%; */
    /* max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px; */
    max-width: 428px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;

    /* outline: 2px solid red; */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

/*!----------HEADER----------*/

.header{
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-logo{
    color: var(--iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-logo-accent{
    color: var(--navyblue);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.header-container{
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-menu, .header-address-list{
    display: none;
}

.mob-menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    padding: 24px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-open-btn{
    border: none;
    background-color: #fff;
}

.mob-menu.is-open{
    transform: translateX(0);
}

.menu-close-btn{
    display: block;
    margin-left: auto;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu-list{
    margin-top: 56px;
}

.mob-menu-item:not(:last-child){
    margin-bottom: 40px;
}

.mob-menu-link{
    color: var(--navyblue, #2E2F42);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-menu-link:hover,
.mob-menu-link:focus {
    color: var(--ocean);
}

.mob-address-list-item:not(:last-child) {
    margin-bottom: 40px;
}

.mob-address-list-item{
    margin-bottom: 48px;
}

.mob-address-link-phone{
    color: var(--slate, #434455);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mob-address-link-mail{
    color: var(--slate, #434455);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
    color: var(--ocean);
}

.mob-social-icons-list {
    display: flex;
    gap: 56px;
}

.mob-social-icons-item {
    width: 40px;
    height: 40px;
}

.mob-social-icons-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-social-icons-link:hover,
.mob-social-icons-link:focus {
    background-color: #31d0aa;
}

.mob-social-icons-icon {
    fill: #F4F4FD;
}

/*!----------HERO----------*/

.hero{
    background-color: var(--navyblue);
    /* padding: 188px 0; */
    padding: 112px 0;
    margin: 0 auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-mob.jpg);
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero{
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-mob-2x.jpg);
    }
}

.hero-container{

} 

.hero-title{
    color: #FFF;
    text-align: center;
    /* font-size: 56px; */
    font-size: 36px;
    font-weight: 700;
    /* line-height: 1.07; */
    line-height: 1.11;
    letter-spacing: 0.02em;
    flex-direction: column;
    margin: 0 auto;
    /* max-width: 496px;
    margin-bottom: 48px; */
    max-width: 320px;
    margin-bottom: 72px;
}

.hero-btn{
    color: #FFF;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--ocean);
    color: #ffffff;
}

/*!----------ADVANTAGES----------*/

.advantages{
    background-color: #FFF;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.advantages-list{
    display: flex;
    flex-wrap: wrap;
    /* gap: 24px; */
    gap: 72px;
}

.advantages-item{
    width: 100%;
    /* width: calc((100% - 24px * 3) / 4); */
}

.advantages-block{
    width: 264px;
    height: 112px;
    border-radius: 4px;
    background-color:  #F4F4FD;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.advantages-subtitle{
    color: var(--navyblue);
    /* font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em; */
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 8px;
}

.advantages-item-text{
    color: var(--slate);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

/*!----------DOING----------*/

.doing{
    background-color: #FFF;
    padding-bottom: 120px;
    display: none;
}

.doing-title{
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
    
}

.doing-list{
    display: flex;
    gap: 24px;
}

.doing-item{
    width: calc((100% - 48px) / 3);
}

/*!----------TEAM----------*/

.team{
    background-color: #F4F4FD;
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.team-title{
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list{
    display: flex ;
    /* flex-wrap: wrap; */
    flex-direction: column;
    align-items: center;
    /* gap: 24px; */
    gap: 72px;
}

.team-item{
    /* width: 100%; */
    /* width: calc((100% - 72px) / 4); */
    background-color: #FFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-foto{
    
    padding: 32px 0;
}

.team-name{
    color: var(--navyblue);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-text{
    color: var(--slate);
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.team-social-icons-list{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.team-social-icons-item{
    width: 40px;
    height: 40px;
}

.team-social-icons-link{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-icons-icon{
    fill: #F4F4FD;
}

.team-social-icons-link:hover,
.team-social-icons-link:focus {
    background-color: #404bbf;
}

/*!----------CUSTOMERS----------*/

.customers{
    /* padding-top: 120px;
    padding-bottom: 120px; */
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: #FFF;
}

.customers-title{
    
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.customers-client-list{
    display: flex;
    /* gap: 24px; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    gap: 72px 16px;
    align-items: center;
    /* justify-content: center; */
    
}

.customers-client-item{
    /* width: calc((100% - 120px) / 6); */
    width: calc((100% - 16px) / 2);
    height: 88px;
}

.customers-client-link{
    /* height: 100%;
    width: 100%; */
    height: 88px;
    max-width: 190px;
    border-radius: 4px;
    border: 1px solid  #8E8F99;
    color: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-client-logo {
    fill: currentColor;
    
}

.customers-client-link:hover,
.customers-client-link:focus{
    color: #404BBF;
    border-color: #404BBF;
}

/*!----------FOOTER----------*/

.footer{
    background-color: var(--navyblue);
    /* padding-top: 100px;
    padding-bottom: 100px; */
    padding-top: 96px;
    padding-bottom: 96px;
}

.footer-logo {
    color: var(--iris);
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-accent {
    color: #F4F4FD;
    font-size: 18px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    /* max-width: 264px; */
    max-width: 268px;
    
}

.footer-container{
    /* display: flex; */
    align-items: baseline;
}

.footer-container-text{
    /* margin-right: 120px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;


}

.footer-social-text{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.footer-social-icons-list{
    display: flex;
    gap: 16px;
}

.footer-social-icons-item{
    width: 40px;
    height: 40px;
}

.footer-social-icons-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icons-link:hover,
.footer-social-icons-link:focus{
    background-color: #31d0aa;
}

.footer-social-icons-icon{
    fill: #F4F4FD; 
}

.footer-social-form{
    /* display: block;
    margin-left: 80px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
}

.footer-title{
    max-width: 264px;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footer-socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
}

.footer-form{
    display: flex;
    /* justify-content: flex-end;
    gap: 24px; */
    gap: 16px;
    flex-direction: column;
    
}



.footer-input{
    /* width: 264px; */
    width: 100%;
    width: calc(100vw - 16px * 2);
    max-width: 398px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 0 16px;
    background-color: transparent;
    outline: transparent;
    color: #FFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
}

.footer-input::placeholder{
    color: #FFF;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.footer-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    /* min-width: 165px; */
    max-width: 165px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

    text-align: center;
    margin: auto;
}

.footer-btn-icon{
    margin-left: 16px;
    fill: #FFF;
}

.footer-btn:hover,
.footer-btn:focus{
    background-color: #404BBF;
}

/*!----------PORTFOLIO----------*/

.portfolio{
    background-color: #FFF;
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-filters-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-filters-btn{
    color: var(--iris);
    text-align: center;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--cornflower, #E7E9FC);
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus{
    background-color: var(--ocean);
    color: #ffffff;
    border: 1px solid transparent;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}

.portfolio-projects-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    justify-content: center;
}

.projects-item{
    
    width: calc((100% - 24px * 2) / 3);
    margin: 0auto;
}

.projects-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-images{
    position: relative;
    overflow: hidden;
}

.projects-link:hover .projects-text,
.projects-link:focus .projects-text{
    transform: translateY(0%);
}



.projects-link:hover,
.projects-link:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: #4D5AE5;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-name{
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}    

.projects-filters{
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
}

.foto-container{
    padding: 32px 16px 32px 16px;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
    border-top: none;
}

/*!----------MODAL----------*/

.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.40);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    /* width: 408px; */
    width: 100%;
    min-height: 584px;
    border-radius: 4px;
    background-color: #FCFCFC;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* padding: 72px 24px 24px; */
    padding: 72px 16px 24px 16px;
}

.modal-close-btn{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus{
    background-color: #404BBF;
    border: none;
    fill: #ffffff;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal-title{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
}

.modal-field{
    margin-bottom: 8px;
    
}

.input-wrap{
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 0 10px 0 38px;
    outline: transparent;
    background-color: transparent;
    color: #434455;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.modal-input:hover,
.modal-input:focus{
    border-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon{
    fill: #4d5ae5;
}


.modal-input::placeholder,
.modal-textarea{
    color: rgba (46, 47, 66, 0.40);
}

.modal-field-label{
    margin-bottom: 16px;
}


.input-label{
    display: block;

    color: var(--lightslate, #8E8F99);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
    
}

.modal-textarea{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    color: rgba(46, 47, 66, 0.40);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    outline: transparent;
    background-color: transparent;
    resize: none;
   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus{
    border-color: #4d5ae5;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-checkbox{
    margin-bottom: 24px;
}

.check-text{
    margin-bottom: 24px;
    color:#8E8F99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    
}

.privacy-link{
    
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
}

.check-span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-right: 8px;
    fill: transparent;
}

.modal-check:checked + .check-text span{
    fill: var(--cloud, #F4F4FD);
    background-color: #404BBF;
    border: none;
}



.modal-btn {
    color: #FFF;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--iris);
    cursor: pointer;
    display: block;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--ocean);
    color: #ffffff;
}